<h1>New task</h1>

<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<style>
  .field{
      /*text-align: center;*/
      margin-right: 10px; /* Espaço entre o rótulo e o campo de entrada */
      text-align: left;

  }
</style>
  <div class="field">
    <%= form.label :title %>
    <div class="field">
    <%= form.text_field :title %>
    </div>

  </div>

  <div class="field">
    <%= form.label :description %>
    <div class="field">
    <%=form.text_area :description %>
    </div>

  </div>

  <div class="field">
    <%= form.label :due_date %>
    <div class="field">
    <%= form.datetime_local_field :due_date %> <!-- Permite capturar data e hora -->
    </div>

    </div>

  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to tasks", tasks_path %>
</div>
