<section>
  <h1><%= @evento.nome %></h1>
  <br>
  <p class="p1"><strong>Descrição:</strong> <%= @evento.descricao%></p>
  <p class="p1"><strong>Data:</strong> <%= @evento.data.strftime('%d/%m/%Y') %></p>

  <h1>Participantes</h1>
  <% if user_signed_in? && !@evento.participantes.include?(current_user) %>
    <%= button_to 'Inscrever-se', inscrever_evento_path(@evento), method: :post %>
  <% end %>
  <ul>
    <% @participantes.each do |participante| %>
      <li>
        <%= participante.nome%>
        <%= link_to 'Baixar Certificado', certificado_evento_path(@evento, participante_id: participante.id, format: :pdf), class: 'btn btn-primary' %>

      </li>

    <% end %>
  </ul>
<br>
  <%= link_to 'Editar', edit_evento_path(@evento), class: 'button-medio spacing-right' %>
  <%= link_to 'Voltar', eventos_path, class: 'button-medio' %>
</section>