
  <div class="jumbotron">
    <h1><%=t("welcome") %></h1>
    <p><%=t("messages.welcome") %></p>
    <hr>
    <p><%=t("messages.menu") %></p>
    <p>
      <%= render "menu" %>
    </p>

  </div>
  <%= stylesheet_link_tag 'jumbotron' %>



