<style>
    .field {
        margin-bottom: 1em;
    }

    .field input[type="checkbox"] {
        margin-right: 0.5em;
    }

    .field label {
        font-size: 1em;
    }
</style>


<style>
  .voltar{
      display: flex; /* Exibe os itens em linha */
      justify-content: right;
  }
  .alinhar{
      display: flex;
      justify-content: space-between; /* Distribui espaço entre o nome do site e o botão */
      align-items: center; /* Alinha verticalmente o conteúdo do cabeçalho */
      padding: 30px; /* Ajusta o espaçamento ao redor do cabeçalho */
  }
</style>
<div class="alinhar">
<h3>Log in</h3>
<div class="voltar">
<%= link_to 'Home', root_path, class: 'button2'%>
</div>
</div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: true }) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if resource.errors[:email].any? %>
      <div class="field-error">
        <%= resource.errors[:email].join(", ") %>
      </div>
    <% end %>
  </div>
<br>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password"%>
    <% if resource.errors[:password].any? %>
      <div class="field-error">
        <%= resource.errors[:password].join(", ") %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Log in", class:"buttom-custom"%>
  </div>
  <br>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
<% end %>




