
<section>
  <h3>Criar Novo Evento</h3>
<br>
  <%= form_with(model: @evento, local: true) do |form| %>

    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: 'form-control' %>
      <% if @evento.errors[:nome].any? %>
        <div class="error-message">
          <%= @evento.errors[:nome].first %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :descrição %>
      <%= form.text_area :descricao, class: 'form-control' %>
      <% if @evento.errors[:descricao].any? %>
        <div class="error-message">
          <%= @evento.errors[:descricao].first %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= form.label :data %>
      <%= form.date_field :data, class: 'form-control date-field-custom' %>
      <% if @evento.errors[:data].any? %>
        <div class="error-message">
          <%= @evento.errors[:data].first %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>